.header{
	display: block;
	height: 7rem;
}
.logo{
	display: inline-block;
	width: 10rem;
}
.phone{
	display: inline-block;
	height: 7rem;
	line-height: 7rem;
	color: black;
}
.insta{
	margin-left: 4rem;
	position: absolute;
	display: inline;
	height: 3rem;
	transform: translateY(65%);
	vertical-align: middle;
}
.wb{
	position: absolute;
	display: inline;
	height: 2.1rem;
	transform: translateY(114%);
	vertical-align: middle;
	display: inline-block;
	border-radius: 5px;
}
.vk{
	margin-left: 8.7rem;
	position: absolute;
	display: inline;
	height: 2.1rem;
	transform: translateY(115%);
	vertical-align: middle;
	border-radius: 5.5px;
}
@media (max-width: 1200px) {
	.insta{
		margin-left: 4.2rem;
	}
}
.phone-link{
	width: 2rem;
}
.telef{
	display: inline;
	font-size: 13px;
	margin-left: 0.5rem;
	color: black;
}